<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/main.css" />
    <script src="stylesheet" href="./js/main.js"></script>
  </head>
  <body>
    <nav style="background-color: #61dafb" class="navbar navbar-default">
      <div class="container-fluid">
        <a style="color: black" class="navbar-brand" href="/">Home</a>
        <div
          style="color: black"
          class="collapse navbar-collapse"
          id="bs-example-navbar-collapse-1"
        >
          <ul style="color: black" class="nav navbar-nav">
            <li style="color: black"><a href="/login">Login</a></li>

            <li><a href="/register">sign up</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <div class="background-container">
      <h1 class="welcome-heading">WELCOME</h1>
      <div>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Chatbot_img.png?20230131041334"
          class="welcome-image"
        />
        <p class="welome-paragraph">Chatbot</p>
      </div>
    </div>
  </body>
</html>
